<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Lucatic Enterprise</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="home.html">Lucatic Enterprise</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="home.html"><u>Home</u></a></li>
                            <li class="nav-item"><a class="nav-link" href="equipo.html"><u>Equipo</u></a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html"><u>Contacto</u></a></li>
                            <li class="nav-item"><a class="nav-link" href="service.html"><u>Servicios</u></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Somos una compañía global de servicios profesionales, líder en capacidades digitales, de cloud y de seguridad</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Una amplia gama de servicios que transforma tu organización.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-5 me-sm-3" href="service.html"><u>Saber más sobre los servicios</u></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="/web/assets/Home_Portada_Servicios.jpg" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Solidez, experiencia e innovación a escala: las claves que nos diferencian</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h5">Construimos relaciones de confianza con nuestros clientes</h2>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                    <h2 class="h5">Nuestros equipos son diversos, creativos e innovadores</h2>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">Contamos con un profundo conocimiento sectorial</h2>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">Nos comprometemos a generar un impacto positivo en las personas, los negocios y el planeta.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"Es más fácil amar a una marca cuando la marca te ama a ti"</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="/web/assets/Cliente.jpg" alt="Imagen representativa de un cliente." />
                                    <div class="fw-bold">
                                        Jorge Nitales
                                        <span class="fw-bold text-primary mx-1">/</span>
                                        Cliente
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">Algunos de nuestros clientes</h2>
                                <p class="lead fw-normal text-muted mb-5">Ejemplos reales de nuestra generación de valor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="/web/assets/Merk.jpg" alt="Empleados de Merk trabajando." />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3">Merk</h5></a>
                                    <p class="card-text mb-0">Trabajamos con Merck para dotar a sus empleados del área de packaging de dispositivos inteligentes para ofrecerles mayor seguridad y eficiencia</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="/web/assets/Vodafone.jpg" alt="Persona sosteniendo un telefono movil." />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3">Vodafone</h5></a>
                                    <p class="card-text mb-0">Ayudamos a Vodafone a transformar su organización financiera global gracias a la migración a SAP S/4HANA®.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="/web/assets/Metro.jpg" alt="Tren de metro parado en una estación." />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3">Metro de Madrid</h5></a>
                                    <p class="card-text mb-0">Creamos un sistema de ventilación con IA que ha reducido en un 25% los costes energéticos de ventilación, además de garantizar la calidad del aire y el confort de los viajeros.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2021</div></div>
                    <div class="col-auto">
                        <a class="link-light small">Privacidad</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small">Terminos</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="contact.html">Contacto</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
